.App {
  display: flex;
  justify-content: center;
}

.App-grid-container{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 3rem;
  column-gap: 2rem;
}

